.banner {
  width: 100%;

  box-sizing: border-box;

  padding: clamp(13rem, 9.182rem + 5.966vw, 15.625rem)
    clamp(8rem, -1.818rem + 15.341vw, 14.75rem);

  background-color: var(--gray-2);

  margin-top: 6.375rem;
}

.banner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2.75rem;

  box-sizing: border-box;
}

.banner__h1__text {
  font-weight: var(--weight-title1);
  font-size: var(--size-title1);
  line-height: var(--height-title1);
  color: var(--gray-6);
}

.banner__span__text {
  color: var(--brand-1);
}

.banner__p {
  width: 48.125rem;
  height: 3.75rem;

  max-width: 100%;
}

.banner__p__text {
  font-weight: var(--weight-text1);
  font-size: var(--size-text1);
  line-height: var(--height-text1);
  color: var(--gray-4);
}

.banner__button {
  display: flex;

  height: 3.75rem;

  background-color: var(--brand-1);

  padding: 1.25rem 2rem;
  border: 0.0625rem solid var(--brand-1);
  gap: 0.625rem;

  cursor: pointer;
}

.banner__button__text {
  font-weight: var(--weight-text4);
  font-size: var(--size-text4);
  line-height: var(--height-text4);
  color: var(--gray-7);
}

.banner__button:hover {
  background-color: var(--brand-2);
  border: 0.0625rem solid var(--brand-2);
}
