.comments {
  width: 100%;

  box-sizing: border-box;

  padding: clamp(4.5rem, 3.591rem + 1.42vw, 5.125rem)
    clamp(3rem, -18.386rem + 30.682vw, 14.75rem);

  background-color: var(--gray-2);
}

.comments__container {
  display: flex;
  flex-direction: row-reverse;
  gap: clamp(3rem, -2.636rem + 5.682vw, 3.5rem);
  justify-content: space-between;

  box-sizing: border-box;

  margin: 0 auto;

  position: relative;
}

.comments__left {
  width: clamp(18rem, -44.25rem + 129.688vw, 38.75rem);
}

.comments__right {
  width: clamp(18rem, -36.75rem + 114.063vw, 36.25rem);

  box-sizing: border-box;

  padding-left: clamp(0rem, -7.855rem + 12.273vw, 5.4rem);
}

.comments__right__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;

  box-sizing: border-box;

  padding: 5rem 3.25rem;

  background-color: var(--brand-1);

  position: sticky;

  top: 11.5rem;
}

.comments__right__h2__text {
  display: flex;
  justify-content: center;

  font-weight: var(--weight-title2);
  font-size: var(--size-title2);
  line-height: var(--height-title2);

  color: var(--gray-7);
}

.comments__right__p__text {
  font-weight: var(--weight-text1);
  font-size: var(--size-text1);
  line-height: var(--height-text1);

  color: var(--gray-7);
}

.comments__left__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: clamp(1rem, -5rem + 9.375vw, 5.125rem);

  width: 100%;

  box-sizing: border-box;
}

.comments__left__li {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  width: 100%;

  box-sizing: border-box;
}

.comments__left__li__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 12rem;

  box-sizing: border-box;
}

.comments__left__p2 {
  width: clamp(20rem, 2.75rem + 35.938vw, 25.75rem);
}

.comments__left__h3__text {
  font-weight: var(--weight-title3);
  font-size: var(--size-title3);
  line-height: var(--height-title3);

  color: var(--gray-6);
}

.comments__left__p3__text {
  font-weight: var(--weight-text3);
  font-size: var(--size-text3);
  line-height: var(--height-text3);

  color: var(--gray-4);
}

.comments__left__p2__text {
  font-weight: var(--weight-text2);
  font-size: var(--size-text2);
  line-height: var(--height-text2);

  color: var(--gray-5);
}
