.footer {
  width: 100%;
  height: 6.375rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  box-sizing: border-box;

  background-color: var(--gray-1);
}

.footer__img {
  width: 11.1512rem;
  height: 1.1594rem;
}
