@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter";
}

:root {
  --brand-1: #4c6ef5;
  --brand-2: #364fc7;

  --gray-1: #191c1f;
  --gray-2: #212529;
  --gray-3: #343a40;
  --gray-4: #adb5bd;
  --gray-5: #ced4da;
  --gray-6: #edf2ff;
  --gray-7: #f8f9fa;

  --weight-title1: 600;
  --weight-title2: 600;
  --weight-title3: 600;
  --weight-text1: 400;
  --weight-text2: 400;
  --weight-text3: 400;
  --weight-text4: 600;

  --size-title1: 3.25rem;
  --size-title2: 2.5rem;
  --size-title3: 2rem;
  --size-text1: 1.25rem;
  --size-text2: 1.125rem;
  --size-text3: 1rem;
  --size-text4: 1rem;

  --height-title1: 140%;
  --height-title2: 160%;
  --height-title3: 160%;
  --height-text1: 150%;
  --height-text2: 150%;
  --height-text3: 150%;
  --height-text4: 150%;
}
